  <div class="container" style="margin: 100px auto;">
    <div class="row">
      <div class="col-6 offset-3">
        <h4>Agregar CURSO - CERTIFICACION</h4>
        <form action="/admin/novedades/agregar" method="post" style="margin-top: 30px">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo">
          </div>
          <div class="form-group">
            <label for="detalle">Detalle</label>
            <input type="text" class="form-control" name="detalle">
          </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Agregar</button>
        </form>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}
      </div>
    </div>
  </div>
