 <div class="container" style="margin: 100px auto;">
    <div class="row">
      <div class="col-6 offset-3">
        <h4>Modificar</h4>
        <form action="/admin/novedades/modificar" method="post">        
        <input type="hidden" value="{{novedad.id}}" name="id">
         <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
          </div>
          <div class="form-group">
            <label for="">Detalle</label>
            <textarea name="detalle" class="form-control">{{novedad.detalle}}</textarea>
          </div>
          <button type="submit" class="btn btn-dark">Modificar</button>
        </form>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}
      </div>
    </div>
  </div>